<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Ajout équipement</title>
    <meta name="Description" content="Description du site" />
    <meta name="author" content="JB" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--icone-->
    <link rel="icon" type="image/png" href="https://www.assurcyber.com/images/icone_rgsupervision.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input class="navbar-brand" type="image" id="image" alt="Login" style="height: 2%; width: 2%;" src="https://www.assurcyber.com/images/icone_rgsupervision.png">
        <a id="titre" class="navbar-brand" href="#">Ajout equipement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-left"></ul>

            <ul class="navbar-nav mr-auto"></ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-success my-2 my-sm-0" href="/">DashBoard</a>
            </form>
        </div>
    </nav>
    <form id="formulaire" action="/actionAjout" method="get" style="width: 35%;margin:2%;margin-top:0.5%">
        <!--<div class="FQDN">
            <p id="erreur_FQDN"></p>
            <label>Nom FQDN (unique) :  </label>
            <input type="text" id="FQDN" name="FQDN">
        </div>-->
        <div class="form-group">
            <p id="erreur_FQDN" style="color: red;font-weight: bold;"></p>
            <label>FQDN :  </label>
            <input id="FQDN" name="FQDN" type="text" class="form-control" placeholder="Entrer FQDN">
            <small id="emailHelp" class="form-text text-muted">Entrez le nom de l'équipement, ce nom doit être unique.</small>
        </div>

        <!--<div class="NomAffichage">
            <label>Nom d'affichage :  </label>
            <input type="text" name="NomAffichage">
        </div>-->
        <div class="form-group">
            <label>Nom :  </label>
            <input id="NomAffichage" name="NomAffichage" type="text" class="form-control" placeholder="Entrer nom">
            <small id="emailHelp" class="form-text text-muted">Entrez le nom que vous souhaité afficher sur le site.</small>
        </div>

        <!--<div class="Marque">
            <label>Marque :  </label>
            <input type="text" name="Marque">
        </div>--->
        <div class="form-group">
            <label>Marque :  </label>
            <input id="Marque" name="Marque" type="text" class="form-control" placeholder="Entrer la marque de l'équipement">
        </div>

        <!--<div class="Modele">
            <label>Modèle:  </label>
            <input type="text" name="Modele">
        </div>-->
        <div class="form-group">
            <label>Modèle :  </label>
            <input id="Modele" name="Modele" type="text" class="form-control" placeholder="Entrer le modèle de l'équipement">
        </div>

        <!--<div class="IP">
            <p id="erreur_IP"></p>
            <label>IP :  </label>
            <input type="text" name="IP">
        </div>-->
        <div class="form-group">
            <p id="erreur_IP" style="color: red;font-weight: bold;"></p>
            <label>IP :  </label>
            <input id="IP" name="IP" type="text" class="form-control" placeholder="Entrer l'@IP de l'équipement" pattern="[^/]*">
            <small id="emailHelp" class="form-text text-muted">Entrez ne pas mettre le masque réseau.</small>
        </div>

        <!--<div class="Client">
            <label>Client :  </label>
            <input type="text" name="Client">
        </div>-->
        <div class="form-group">
            <label>Client :  </label>
            <input id="Client" name="Client" type="text" class="form-control" placeholder="Entrer le nom du client qui possède l'équipement">
        </div>

        <!--<div class="OS">
            <label>Operating System :  </label>
            <input type="text" name="OS">
        </div>-->
        <div class="form-group">
            <label>Système d'explotation :  </label>
            <input id="OS" name="OS" type="text" class="form-control" placeholder="Entrer le système d'explotation l'équipement">
        </div>

        <!--<div class="Localisation">
            <label>Localisation :  </label>
            <input type="text" name="Localisation">
        </div>-->
        <div class="form-group">
            <label>Localisation :  </label>
            <input id="Localisation" name="Localisation" type="text" class="form-control" placeholder="Entrer la localisation l'équipement">
        </div>

        <!--<div class="VersionSNMP">
                <label>Version SNMP :  </label>
                <input type="text" name="VersionSNMP">
            </div>-->

        <!--<div class="VersionSNMP">
            <label for="VersionSNMP">Version SNMP :</label>
            <select name="VersionSNMP" id="VersionSNMP">
                    <option class="dropdown-item" value="V3" onclick="optionV3()">V3</option>
                    <option class="dropdown-item" value="V2" onclick="optionV2()">V2</option>
                </select>
        </div>-->
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">SNMP :</legend>
                <div class="col-sm-10">
                    <div class="form-check" onclick="optionV3()">
                        <input class="form-check-input" type="radio" name="VersionSNMP" id="gridRadios1" value="V3" checked>
                        <label class="form-check-label" for="gridRadios1">
                    Snmp V3
                  </label>
                    </div>
                    <div class="form-check" onclick="optionV2()">
                        <input class="form-check-input" type="radio" name="VersionSNMP" id="gridRadios2" value="V2">
                        <label class="form-check-label" for="gridRadios2">
                    Snmp V2
                  </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <!--<div class="Communaute">
            <label>Communauté :  </label>
            <input type="text" name="Communaute">
        </div>-->
        <div class="form-group">
            <label>Communauté :  </label>
            <input id="Communaute" name="Communaute" type="text" class="form-control" placeholder="Entrer la communauté">
            <small id="emailHelp" class="form-text text-muted">Entrer la communauté à utiliser lors des requêtes SNMP.</small>
        </div>

        <!--<div class="User" id='user_case'>
            <label>User :  </label>
            <input type="text" name="User">
        </div>-->
        <div class="form-group" id='user_case'>
            <label>Utilisateur :  </label>
            <input id="User" name="User" type="text" class="form-control" placeholder="Entrer l'utilisateur">
            <small id="emailHelp" class="form-text text-muted">Entrer l'utilisateur pour effectuer des requêtes SNMP.</small>
        </div>

        <!--<div class="Password" id="password_case">
            <label>Password :  </label>
            <input type="password" name="Password">
        </div>-->
        <div class="form-group" id="password_case">
            <label>Mot de passe :  </label>
            <input id="Password" name="Password" type="password" class="form-control">
            <small id="emailHelp" class="form-text text-muted">Entrer le mot de passe pour effectuer des requêtes SNMP.</small>
        </div>

        <!--<div class="clef" id="clef_case">
            <label>Clé de chiffrement :  </label>
            <input type="text" name="Clef">
        </div>-->
        <div class="form-group" id="clef_case">
            <label>Clé de chiffrement :  </label>
            <input id="Clef" name="Clef" type="text" class="form-control" placeholder="Entrer la clef de chiffrement">
            <small id="emailHelp" class="form-text text-muted">Entrer la clef de chiffrement, utiliser pour l'envoie de requêtes sécurisé.</small>
        </div>

        <!--<div class="Commentaire">
            <label>Commentaire :  </label>
            <input type="text" name="Commentaire">
        </div>-->
        <div class="form-group">
            <label>Commentaire :  </label>
            <textarea class="form-control" name="Commentaire" id="exampleFormControlTextarea1" rows="3" placeholder="Votre commentaire ..."></textarea>
        </div>
        <button id="envoie_form" class="btn btn-primary" type="submit">Envoyer</button>
    </form>

    <script type="text/javascript">
        var str = window.location.href;
        var url = new URL(str);
        //alert(url);
        var search_params = new URLSearchParams(url.search);
        if (search_params.has('manque')) {
            var typeErreur = search_params.get('manque');
            console.log(typeErreur);
            //alert(typeErreur)
            if (typeErreur == "FQDN") {
                document.getElementById("erreur_FQDN").innerHTML = "<p id='erreur_FQDN' style='color: red;font-weight: bold;'>Veuillez entrer un FQDN</p>";
            } else if (typeErreur == "IP") {
                document.getElementById("erreur_IP").innerHTML = "<p id='erreur_IP' style='color: red;font-weight: bold;'>Veuillez entrer une IP</p>";
            }
        }

        function optionV2() {
            document.getElementById("user_case").style.display = 'none';
            document.getElementById("password_case").style.display = 'none';
            document.getElementById("clef_case").style.display = 'none';
        }

        function optionV3() {
            document.getElementById("user_case").style.display = 'block';
            document.getElementById("password_case").style.display = 'block';
            document.getElementById("clef_case").style.display = 'block';
        }
        /*
        function tafonction(){
        // traitement
        var nombre = 0;
        var result = get('http://localhost:5000/Todo2/entree2').json()
        console.log("resultat = " + result)
        document.getElementById("test").innerHTML = "<a id='retour' class='btn btn-primary' href='/'>" + nombre + "</a>";
        nombre = nombre + 1 ;
        console.log(nombre)
        setInterval(tafonction,2000); 
        }
        
        setInterval(function() { 
            //your jquery ajax code
            var nombre = Math.random();
            document.getElementById("test").innerHTML = "<a id='retour' class='btn btn-primary' href='/'>" + nombre + "</a>";
            
        }, 1000);*/
    </script>

</body>

</html>