<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Ma page de Supervision</title>
    <meta name="Description" content="Description du site" />
    <meta name="author" content="JB" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--icone-->
    <link rel="icon" type="image/png" href="https://www.assurcyber.com/images/icone_rgsupervision.png">
</head>

<body>
    <!--<h1>DashBoard</h1>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input class="navbar-brand" type="image" id="image" alt="Login" style="height: 2%; width: 2%;" src="https://www.assurcyber.com/images/icone_rgsupervision.png">
        <a id="titre" class="navbar-brand" href="#">DashBoard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="ajout" class="dropdown-item" href="http://localhost:5000/ajout">Ajouter un équipement</a>
                        <a id="modif" class="dropdown-item" href="http://localhost:5000/infoSuppression">Supprimer un équipement</a>
                        <a id="suppr" class="dropdown-item" href="#">Modifier un équipement</a>
                    </div>
                </li>

            </ul>

        </div>
    </nav>
    <div style="height:100%; width:98%; display:flex; margin:1%;">
        <div id="Mon_id" style="width:50%;"></div>
        
        <iframe name="moniframe" style="float: right;height:700px; width:48%;" width="40%" height="100%" src="http://localhost:5000/logsdashboard" frameborder="0" scrolling="yes">
        </iframe> 
    </div>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    
    <script>
        setInterval(function() {
            //alert($SCRIPT_ROOT)
            var flickerAPI = 'http://localhost:5000/returnList';
            $.getJSON(flickerAPI, {})
                .done(function(data) {
                    //$.getJSON($SCRIPT_ROOT + '/returnList', function(data) {
                    document.getElementById('Mon_id').innerHTML = "<div id='Mon_id'></div>";

                    //alert(data.result.length);
                    //alert(data.result);
                    //alert(data.resultPing);
                    let listOfProducts;
                    //alert(data.result[2]);
                    const Mon_id = document.getElementById("Mon_id");

                    // Solution 1 : création p label input : createElement + appendChild
                    longueur = data.result.length;
                    var entreeListe = 0;
                    //creation d'une liste avec le nom des equipements
                    for (let pas = 0; pas < longueur; pas++) {
                        let balise1 = document.createElement("div");
                        let nomEquipement = document.createElement("a");
                        let status = document.createElement("div");
                        balise1.style.marginTop = '1.5%';
                        balise1.style.marginBottom = '1.5%';


                        Mon_id.appendChild(balise1);

                        balise1.appendChild(nomEquipement);
                        balise1.appendChild(status);


                        nomEquipement.style.display = 'inline-block';
                        nomEquipement.style.marginLeft = '1%';
                        nomEquipement.className = "btn btn-light";

                        nomEquipement.textContent = data.result[pas];
                        nomEquipement.href = "/detail?equipement=" + data.result[pas];

                        //si dans la liste au meme niveau du nom de l'equipement il y a une infos de ping
                        if (data.resultPing[pas] == "0" || data.resultPing[pas] == "") {
                            status.textContent = "Status : NOK";
                            status.className = "btn btn-danger";
                        } else {
                            status.textContent = "Status : OK";
                            status.className = "btn btn-success";
                        };
                        status.style.display = 'inline-block';

                        status.style.marginLeft = '5%';

                        let IP = document.createElement("div");
                        IP.textContent = "";
                        IP.style.display = 'inline-block';
                        IP.style.paddingLeft = '5%';
                        balise1.appendChild(IP);
                        if (data.TouteIP[pas] != "None") {

                            IP.textContent = "IP : " + data.TouteIP[pas];

                        };

                        let cpu = document.createElement("div");
                        cpu.textContent = "";
                        cpu.style.display = 'inline-block';
                        cpu.style.paddingLeft = '5%';
                        balise1.appendChild(cpu);
                        if (data.resultCPU[pas] != "None" && data.resultCPU[pas] != []) {
                            //let cpu = document.getElementById("div");
                            //balise1.appendChild(cpu);
                            cpu.textContent = "CPU : " + data.resultCPU[pas] + "%";
                            //cpu.style.display='inline-block';
                            //cpu.style.paddingLeft='5%';
                        };


                        let ram = document.createElement("div");
                        ram.textContent = "";
                        ram.style.display = 'inline-block';
                        ram.style.paddingLeft = '5%';
                        balise1.appendChild(ram);
                        if (data.resultRAM[pas] != "None" && data.resultCPU[pas] != []) {

                            ram.textContent = "RAM : " + data.resultRAM[pas] + data.uniteRAM[pas];

                        };
                    };

                });
            return false;

        }, 1000);
    </script>


</body>

</html>