<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Ajout équipement</title>
    <meta name="Description" content="Description du site" />
    <meta name="author" content="JB" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--icone-->
    <link rel="icon" type="image/png" href="https://www.assurcyber.com/images/icone_rgsupervision.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input class="navbar-brand" type="image" id="image" alt="Login" style="height: 2%; width: 2%;" src="https://www.assurcyber.com/images/icone_rgsupervision.png">
        <a id="titre" class="navbar-brand" href="#">Modifier equipement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-left"></ul>
            <ul class="navbar-nav mr-auto"></ul>

            <form class="form-inline my-2 my-lg-0">

                <a class="btn btn-outline-success my-2 my-sm-0" href="/">DashBoard</a>

            </form>
        </div>
    </nav>
    <form id="formulaire" action="/actionModif" method="get" style="width: 35%;margin:2%;">
        <input type="hidden" id="FQDNhidden" name="equipementold" value="" readOnly="readOnly" />
        <select class="form-select" aria-label="Default select example" id="equipementFQDN">
            <option selected onclick="reset()">Open this select menu</option>
          </select>

        <div class="form-group">
            <p id="erreur_FQDN" style="color: red;font-weight: bold;"></p>
            <label>FQDN :  </label>
            <input id="FQDN" name="FQDN" type="text" class="form-control" placeholder="Entrer FQDN">
            <small id="emailHelp" class="form-text text-muted">Entrez le nom de l'équipement, ce nom doit être unique.</small>
        </div>

        <div class="form-group">
            <label>Nom :  </label>
            <input id="NomAffichage" name="NomAffichage" type="text" class="form-control" placeholder="Entrer nom">
            <small id="emailHelp" class="form-text text-muted">Entrez le nom que vous souhaité afficher sur le site.</small>
        </div>

        <div class="form-group">
            <label>Marque :  </label>
            <input id="Marque" name="Marque" type="text" class="form-control" placeholder="Entrer la marque de l'équipement">
        </div>

        <div class="form-group">
            <label>Modèle :  </label>
            <input id="Modele" name="Modele" type="text" class="form-control" placeholder="Entrer le modèle de l'équipement">
        </div>

        <div class="form-group">
            <p id="erreur_IP" style="color: red;font-weight: bold;"></p>
            <label>IP :  </label>
            <input id="IP" name="IP" type="text" class="form-control" placeholder="Entrer l'@ IP de l'équipement" pattern="[^/]*">
            <small id="emailHelp" class="form-text text-muted">Entrez ne pas mettre le masque réseau.</small>
        </div>

        <div class="form-group">
            <label>Client :  </label>
            <input id="Client" name="Client" type="text" class="form-control" placeholder="Entrer le nom du client qui possède l'équipement">
        </div>

        <div class="form-group">
            <label>Système d'explotation :  </label>
            <input id="OS" name="OS" type="text" class="form-control" placeholder="Entrer le système d'explotation l'équipement">
        </div>

        <div class="form-group">
            <label>Localisation :  </label>
            <input id="Localisation" name="Localisation" type="text" class="form-control" placeholder="Entrer la localisation l'équipement">
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">SNMP :</legend>
                <div class="col-sm-10">
                    <div class="form-check" onclick="optionV3()">
                        <input class="form-check-input" type="radio" name="VersionSNMP" id="SNMPV3" value="V3">
                        <label class="form-check-label" for="gridRadios1">
                    Snmp V3
                  </label>
                    </div>
                    <div class="form-check" onclick="optionV2()">
                        <input class="form-check-input" type="radio" name="VersionSNMP" id="SNMPV2" value="V2">
                        <label class="form-check-label" for="gridRadios2">
                    Snmp V2
                  </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <label>Communauté :  </label>
            <input id="Communaute" name="Communaute" type="text" class="form-control" placeholder="Entrer la communauté">
            <small id="emailHelp" class="form-text text-muted">Entrer la communauté à utiliser lors des requêtes SNMP.</small>
        </div>

        <div class="form-group" id='user_case'>
            <label>Utilisateur :  </label>
            <input id="User" name="User" type="text" class="form-control" placeholder="Entrer l'utilisateur">
            <small id="emailHelp" class="form-text text-muted">Entrer l'utilisateur pour effectuer des requêtes SNMP.</small>
        </div>

        <div class="form-group" id="password_case">
            <label>Mot de passe :  </label>
            <input id="Password" name="Password" type="password" class="form-control">
            <small id="emailHelp" class="form-text text-muted">Entrer le mot de passe pour effectuer des requêtes SNMP.</small>
        </div>

        <div class="form-group" id="clef_case">
            <label>Clé de chiffrement :  </label>
            <input id="Clef" name="Clef" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Commentaire :  </label>
            <textarea class="form-control" name="Commentaire" id="Commentaire" rows="3"></textarea>
        </div>
        <button id="envoie_form" class="btn btn-primary" type="submit">Envoyer</button>
    </form>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript">
        var str = window.location.href;
        var url = new URL(str);
        //alert(url);
        var search_params = new URLSearchParams(url.search);
        if (search_params.has('manque')) {
            var typeErreur = search_params.get('manque');
            console.log(typeErreur);
            //alert(typeErreur)
            if (typeErreur == "FQDN") {
                document.getElementById("erreur_FQDN").innerHTML = "<p id='erreur_FQDN' style='color: red;font-weight: bold;'>Veuillez entrer un FQDN</p>";
            } else if (typeErreur == "IP") {
                document.getElementById("erreur_IP").innerHTML = "<p id='erreur_IP' style='color: red;font-weight: bold;'>Veuillez entrer une IP</p>";
            }
        }
        window.onload = function() {
            var flickerAPI = 'http://192.168.141.58:8080/recupFQDN';
            $.getJSON(flickerAPI, {})
                .done(function(data) {
                    //alert(data.fqdn);
                    data.fqdn.forEach(equipement => {
                        parent = document.getElementById("equipementFQDN");
                        leFQDN = document.createElement("option");


                        leFQDN.className = "dropdown-item";
                        //leFQDN.onclick = "equipement('" + equipement + "')";
                        leFQDN.setAttribute("onclick", "equipement('" + equipement + "')");

                        leFQDN.value = equipement;
                        leFQDN.textContent = equipement;

                        parent.appendChild(leFQDN);


                        /*<option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>*/
                    });
                });
        }

        function equipement(equipement) {
            var flickerAPI = 'http://192.168.141.58:8080/modifFQDN?equipement=' + equipement;
            $.getJSON(flickerAPI, {})
                .done(function(data) {

                    document.getElementById('FQDNhidden').value = data.FQDN;

                    titre = document.getElementById("titre");
                    titre.textContent = "Modification de " + data.FQDN;

                    FQDN = document.getElementById("FQDN");
                    FQDN.value = data.FQDN;

                    nom = document.getElementById("NomAffichage");
                    nom.value = data.Nom;

                    marque = document.getElementById("Marque");
                    marque.value = data.Marque;

                    modele = document.getElementById("Modele");
                    modele.value = data.Modele;

                    ip = document.getElementById("IP");
                    ip.value = data.IP;

                    client = document.getElementById("Client");
                    client.value = data.Client;

                    os = document.getElementById("OS");
                    os.value = data.OS;

                    localisation = document.getElementById("Localisation");
                    localisation.value = data.Localisation;

                    if (data.Version == "V2") {
                        Snmp3 = document.getElementById("SNMPV3");
                        Snmp3.checked = false;
                        Snmp2 = document.getElementById("SNMPV2");
                        Snmp2.checked = true;
                        optionV2();
                    } else if (data.Version == "V3") {
                        Snmp2 = document.getElementById("SNMPV2");
                        Snmp2.checked = false;
                        Snmp3 = document.getElementById("SNMPV3");
                        Snmp3.checked = true;
                        optionV3();
                    }
                    Communaute = document.getElementById("Communaute");
                    Communaute.value = data.Communaute;

                    User = document.getElementById("User");
                    User.value = data.User;

                    Password = document.getElementById("Password");
                    Password.value = data.Password;

                    Key = document.getElementById("Clef");
                    Key.value = data.Key;

                    Commentaire = document.getElementById("Commentaire");
                    Commentaire.value = data.Commentaire;

                });
        }

        function reset() {
            titre = document.getElementById("titre");
            titre.textContent = "Modifier equipement";

            FQDN = document.getElementById("FQDN");
            FQDN.value = "";

            nom = document.getElementById("NomAffichage");
            nom.value = "";

            marque = document.getElementById("Marque");
            marque.value = "";

            modele = document.getElementById("Modele");
            modele.value = "";

            ip = document.getElementById("IP");
            ip.value = "";

            client = document.getElementById("Client");
            client.value = "";

            os = document.getElementById("OS");
            os.value = "";

            localisation = document.getElementById("Localisation");
            localisation.value = "";


            Snmp3 = document.getElementById("SNMPV3");
            Snmp3.checked = false;
            Snmp2 = document.getElementById("SNMPV2");
            Snmp2.checked = false;
            optionV3();

            Communaute = document.getElementById("Communaute");
            Communaute.value = "";

            User = document.getElementById("User");
            User.value = "";

            Password = document.getElementById("Password");
            Password.value = "";

            Key = document.getElementById("Clef");
            Key.value = "";

            Commentaire = document.getElementById("Commentaire");
            Commentaire.value = "";
        }

        function optionV2() {
            document.getElementById("user_case").style.display = 'none';
            document.getElementById("password_case").style.display = 'none';
            document.getElementById("clef_case").style.display = 'none';
        }

        function optionV3() {
            document.getElementById("user_case").style.display = 'block';
            document.getElementById("password_case").style.display = 'block';
            document.getElementById("clef_case").style.display = 'block';
        }
        /*
        function tafonction(){
        // traitement
        var nombre = 0;
        var result = get('http://192.168.141.58:8080/Todo2/entree2').json()
        console.log("resultat = " + result)
        document.getElementById("test").innerHTML = "<a id='retour' class='btn btn-primary' href='/'>" + nombre + "</a>";
        nombre = nombre + 1 ;
        console.log(nombre)
        setInterval(tafonction,2000); 
        }
        
        setInterval(function() { 
            //your jquery ajax code
            var nombre = Math.random();
            document.getElementById("test").innerHTML = "<a id='retour' class='btn btn-primary' href='/'>" + nombre + "</a>";
            
        }, 1000);*/
    </script>

</body>

</html>