<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Suppression</title>
    <meta name="Description" content="Description du site" />
    <meta name="author" content="JB" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--icone-->
    <link rel="icon" type="image/png" href="https://www.assurcyber.com/images/icone_rgsupervision.png">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <input class="navbar-brand" type="image" id="image" alt="Login" style="height: 2%; width: 2%;" src="https://www.assurcyber.com/images/icone_rgsupervision.png">
        <a id="titre" class="navbar-brand" href="#">Suppression d'équipement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-left">


            </ul>

            <ul class="navbar-nav mr-auto">


            </ul>
            <form class="form-inline my-2 my-lg-0">

                <a class="btn btn-outline-success my-2 my-sm-0" href="/">DashBoard</a>

            </form>
        </div>
    </nav>
    <form id="formulaire" action="/actionSuppression" method="get" style="margin: 1%">
        <div id="ListeEquipements"></div>
        <br></br>
        <button id="envoie_form" class="btn btn-primary" type="submit" onclick="verif()">Supprimer</button>
    </form>
    <script type="text/javascript">
        function verif() {
            var supprEquipement = document.getElementById("EquipementSuppr").value
            var answer = confirm("Supprimer " + supprEquipement + " ?");
            alert("reponse est " + answer);
            if (answer == true) {

            } else {

                event.preventDefault;
            }
        }
        var str = window.location.href;
        var url = new URL(str);
        //alert(url);
        let equipement = [];
        var search_params = new URLSearchParams(url.search);
        //alert(search_params)
        search_params.forEach((value, key) => {
            var verif = key.indexOf("Equipement")
            if (verif !== -1) {
                equipement.push(value);
            }
        });
        //alert(equipement);

        var select = document.createElement("select");
        select.name = "EquipementSuppr";
        select.id = "EquipementSuppr"

        for (const val of equipement) {
            var option = document.createElement("option");
            option.value = val;
            option.text = val.charAt(0).toUpperCase() + val.slice(1);
            select.appendChild(option);
        }

        var label = document.createElement("label");
        label.innerHTML = "Choisir un equipement à supprimer: "
        label.htmlFor = "equipement";

        document.getElementById("ListeEquipements").appendChild(label).appendChild(select);
    </script>

</body>

</html>