<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Ajout équipement</title>
    <meta name="Description" content="Description du site" />
    <meta name="author" content="JB" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <table>

  
  <tr> <th>Abonnement</th> <th>Durée</th> <th>Prix</th> </tr>
  
  <tr> <td>Chatonfdsdsfdsfsdfsdfsdfsd</td> <td>2 moisdsfsdfsdfsdfsfs</td> <td>40 €dsfsdfsdfsfsd</td> </tr>
  
  <tr> <td>Elasdfsdfsdfsdfsn</td> <td>6 moissdfsdfsdfsdfsd</td> <td>110 €sdfsdfsdfsdfsdf</td> </tr>
  
  <tr> <td>Licorsdfsdfsdfsdfsdfne</td> <td>12 msdfsdfsdfsdfois</td> <td>20sdfsdfsdfsdfsd0 €</td> </tr>
  
  </table>
  
</body>

</html>